body{
    background-color:aliceblue;
}
nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 18px;
    font-family: sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #606163;
}

nav ul li a:hover {
    text-decoration: none;
    color: #373aff;
}
#genre ul li {
    display: inline-block;
    padding-right: 12px;
    margin-left:12%;
    font-size: 45px;
    background-color: #1c9dee;
    font-weight: 700;
    font-family: system-ui;
    border-radius: 70px;
    padding-bottom: 5px;
    padding-left: 9px;
}
#genre ul li a {
    text-decoration: none;
    color: #212121;
}
.K1{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #212121;
  font-weight: 700;
  font-size: 60px;
  margin-left:40%;
  border-radius: 70px;
  font-family: system-ui;
  padding: 10px 30px 15px;
  background-color: #1c9dee;

}
.Q1{
  display: inline-block;
}
.Q2{
  border-radius: 8px;
  cursor: pointer;
  height: 500px;
}
.text{
  font-size: 24px;
  text-align: center;
}


footer {
background-color:aliceblue;
padding-top: 50px;
font-family: sans-serif;
border: 20px;
display: flex;
height: 350px;

}
#footer{
  background-color:aliceblue;
  margin: 0% 0% 1% 0%;
  width: 100%;
  display: grid;
  grid-template-columns: 17% 20% 20% 6% 20% 17%;
  grid-area: "GAP_1 D_footer1D_footer2 D_footer3 D_footer4 GAP_2";
  height: 350px;
}
#GAP_1{
 grid:GAP_1;
 height: 350px;
}
#D_footer1{
 display: flex;
 grid:D_footer1;
 height: 350px;
}
#D_footer1 img{
 height:100px;
 width:100px;
 margin:31% 7% 0% 24%;
}
#D_footer2{
font-size: 15px;
 grid:D_footer2;
 margin: 3% 0% 0% 0%;
height: 350px;
}
#ex_p ul{
 margin-top: 2%;
 list-style: none;
 padding:0 0 0 2px;
 width: 90%;
 text-decoration:none;
}
#ex_p ul li a{
   text-decoration:none;
}
#ex_p ul li a :hover{
cursor: pointer;
}
#follow_us ul{
 margin-top: 2%;
 list-style: none;
 padding-top: 5%;
 padding: 0;
 width: 90%;
}
#follow_us ul li{
 display:inline-block;
}
#D_footer2 ul li a{
color: black;
}
#D_footer3{
 grid:D_footer3;
 margin: 3% 0% 0% 0%;
 height: 350px;
}
#D_footer4{
 grid:D_footer4;
 margin: 3% 0% 0% 0%;
 height: 280px;
 font-size: 20px;
}
#GAP_2{
 grid:GAP_1;
height: 350px;
}
.footer h4{
margin-top: 3px;
}
