body{
  background-color: aliceblue;
  padding: 25px;

}

nav {

    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: -47px;
  font-size: 18px;
  margin-top: 10px;
  font-family: sans-serif;
  margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #606163;
}

nav ul li a:hover {
    text-decoration: none;
    color: #373aff;
}



footer {
    background-color: aliceblue;
    border: 20px;
    width: 98%;
    margin: 0;
    display: flex;
    padding-top: 50px;
}
#footer{
  font-size: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-area: "GAP_1 D_footer1D_footer2 D_footer3 GAP_2";
}
#GAP_1{
grid:GAP_1;
}
#D_footer1{
  display: flex;
  grid:D_footer1;
}
#D_footer1 img{
height:200px;
width:200px;
margin: 64% 13% 86% 21%;
}
#D_footer2 h4{
  margin-bottom: 0%;
}
#D_footer2{
  grid:D_footer2;
  margin: 37% 0% 0% 0%;
}
#follow_us ul{
margin-top: 2%;
list-style: none;
padding-top: 5%;
padding: 0;
}
#follow_us h4{
  margi-bottom: 0%;
}
#follow_us ul{
  display:inline-block;
}
#follow_us ul li{
  display:inline-block;
}
#D_footer3{
  grid:D_footer2;
  margin: 37% 0% 0% 0%;
}
#contact_us{

}
#contact_us h4{
  margin-bottom: 0%;
}
#GAP_2{
  grid:GAP_1;
}
footer p {
    font-family: fantasy;
}
#ex_p ul li{margin-left: -149px;
    list-style: none;}
.i1{
  margin-left: 177px;
    margin-top: 33px;
}
.p1{
  margin-left: 181px;
    margin-right: 232px;
}
.pp1{
  margin-top: -13px;
}
.p2{
  margin-left: 152px
}
h1{
  font-size: 45px;
}
iframe{
  margin-left: 64px;
}
h2{
  font-size: 55px;
    margin-left: 77px;
}
.f1{
  margin-left: 257px;
}
.c1 img:hover{
  width:200px;
  height: 200px;

}
.c1 img{
  border-radius:50%;
}
.br1{
  margin-left: 121px;
      margin-right: 878px;
      margin-top: -71px;
      border-style: outset;
      border-radius: 20px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);


}


.br1 a{
  margin-left: -111px;

}

.c111{
  margin-left: 5px;
}
.br2{
  margin-left: 420px;
      margin-top: -394px;
      border-style: outset;
      border-radius: 20px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-right: 557px;

}
.br2 a{
margin-left: -111px;
}
.c2{
  margin-left: 11px;
}
.c1{
  margin-top:45px;
}
.br3{
  margin-left: 736px;
    margin-top: -393px;
    border-style: outset;
    border-radius: 20px;

    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-right: 256px;
}
.br3 a{
margin-left: -111px;
}
.c3{margin-left: 5px;}
.br4{
  border-style: outset;
      border-radius: 20px;
      margin-left: 109px;
      margin-right: 878px;
      padding-left: 20px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-top: 8px;
      margin-bottom: 215px;

}
.br4 img:hover{
  width:200px;
  height:200px;
}
.c4{
  margin-left: -15px;
    margin-top: 0px;
    margin-bottom: 8px
}
.br4 a{
margin-left: -111px;
    margin-bottom: 16px;
    margin-top: 40px;
}
.br5{
  border-style: outset;
    border-radius: 20px;
    margin-left: 412px;
    margin-right: 544px;
    padding-left: 24px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -637px;
}
.br5 img:hover{
  width:200px;
  height:200px;
}
.br5 p{
  margin-left: -19px;
      margin-top: 1px;
}
.br5 a{
  margin-left: -111px;
}
.br6{
  border-style: outset;
      border-radius: 20px;
      margin-left: 748px;
      margin-right: 249px;
      padding-left: 24px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-top: -412px;

}
.br6 img:hover{
  width:200px;
  height:200px;
}
.br6 a{
    margin-left: -125px;}
.br6 p{
      margin-left: -15px;
}
.br7{
  border-style: outset;
      border-radius: 20px;
      margin-left: 103px;
      margin-right: 876px;
      padding-left: 20px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-top: 22px;
      margin-bottom: 215px;
}
.br7 p{
  margin-left: -14px;
}
.br7 a{margin-left: -111px;}
.br8{
  border-style: outset;
    border-radius: 20px;
    margin-left: 422px;
    margin-right: 548px;
    padding-left: 24px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -607px;}
.br8 p{
      margin-left: -15px;
}
.br8 a{
  margin-left: -111px;
}
.br9{
  border-style: outset;
    border-radius: 20px;
    margin-left: 749px;
    margin-right: 244px;
    padding-left: 12px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -394px;

}
.br9 a{    margin-left: -111px;;}
.br9 p{margin-left: -15px;}
.br10{border-style: outset;
    border-radius: 20px;
    margin-left: 107px;
    margin-right: 879px;
    padding-left: 20px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: 10px;
    margin-bottom: 215px;}
  .br10 a{margin-left: -111px;}
.br10 p{margin-left: -12px;
    margin-top: 10px;}
    .br11{ border-style: outset;
    border-radius: 20px;
    margin-left: 420px;
    margin-right: 551px;
    padding-left: 28px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -601px;
}
.br11 p{margin-left: -17px;
    margin-top: 10px;
}
.br11 a{margin-left: -111px;}
.br12{
  border-style: outset;
      border-radius: 20px;
      margin-left: 743px;
      margin-right: 239px;
      padding-left: 18px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-top: -386px;


}
.br12 p{
  margin-left: -10px;
    margin-top: 8px;
}
.br12 a{margin-left: -111px;}
.br13{
  border-style: outset;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 882px;
    padding-left: 20px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: 13px;
    margin-bottom: 215px;
}
.br13 p{
      margin-left: -13px;
}
.br13 a{
    margin-left: -111px;
}
.br14{
  border-style: outset;
    border-radius: 20px;
    margin-left: 413px;
    margin-right: 572px;

    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -605px;
    margin-bottom: 215px;}
.br14 p{
  margin-left: 8px;
}
.br14 a{
margin-left: -111px;
}
.l{
  margin-top: -193px;
      margin-right: 392px;
      margin-left: 103px;
      border-left: 4px solid red;
      background-color: #e3ebf1;
      margin-bottom: 62px;
      padding-bottom: 10px;
}
.p11{
  margin-top: 212px;
      padding-top: 19px;
      padding-left: 0px;
      font-size: 25px;
      padding-bottom: 5px;
      color: #0e25c9;
      margin-bottom: -36px;
      margin-left: 24px;
  }
 a{padding-left: 143px;
   margin-left: 5px;
       font-size: 25px;
       text-decoration: none;
    }
a:hover{
  text-decoration:underline;

}
.m{
  margin-left: 741px;
      margin-top: -580px;
      padding-bottom: 139px;

}
.m img{
  border-radius:50%;
}
.v{
  text-decoration: none;
    border-radius: 50px;
    margin-top: 68px;
    border-style: outset;
    margin-left: 439px;
    margin-right: 444px;
    padding-left: 3px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
    background-color: #d8d8e5;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
}

.v:hover{
  text-decoration:underline;

}
.v a:hover{
  color:red;
}
.middle{
  margin-left: 98px;
    margin-top: 59px;
    margin-bottom: 38px;
}
.btn{
  display: inline-block;
    width: 46px;
    height: 48px;
    margin: 10px;
    border-radius: 30%;
    color: #3498db;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
  margin-left: 184px;
    padding-top: 24px;
    margin-top: -1px;
    margin-bottom: 28px;
    padding-left: 22px;
}
.btn i{
  transform:scale(1.3);
  color:blue;
}
.btn i:hover{
  color:red;
  transform: scale(1.05);
}
.h{
  font-size: 55px;
    margin-left: 132px;
}
.d{
  margin-left: 133px;
    font-size: 55px;
}
.e1 iframe:Hover{
  transform: scale(1.1);

}
.l a:hover{
  color:red;
}
.p2 iframe:hover{
  transform:scale(1.1);
}
.js1{
  font-size: 55px;

    color: #6a9788;
    margin-left: 481px
}
.js2{
  background-color: #cbb4b4;
    width: 71px;
    border-radius: 44px;
    margin-left: 394px;
    height: 15px;
    padding: 22px;
    padding-left: 41px;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 1px;
    cursor:pointer;
}
.js3{
  background-color: #cbb4b4;
   width: 71px;
   border-radius: 44px;
   margin-top: -52px;
   margin-left: 659px;
   height: 15px;
   padding: 22px;
   padding-left: 39px;
   font-size: 20px;
   padding-bottom: 29px;
   padding-top: 14px;
   padding-right: 4px;
   cursor:pointer;
}
.js4{
  margin-left: 331px;
 font-size: 55px;
 color: #649164;
}
.js5{
  font-size: 55px;
   margin-left: 378px;
   color: #4f854f;
}

