body{
  background-color:black;
  padding: 25px;
  color:white;
}

nav {
    background-color:#4adede;
    width: 104%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin-left: -19px;
     margin-right:24px;
    border-radius:21px;
    font-weight:800;
    color:black;
}

.logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: -360px;
  font-size: 18px;
  margin-top: 2px;
  font-family: sans-serif;
  margin-right:316px;
}

nav ul li a {
    text-decoration: none;
    color: #606163;
}

nav ul li a:hover {
    text-decoration: none;
    color: #373aff;
}



footer {
    background-color:#4adede;
    color:black;
    border: 20px;
    width: 99%;
    margin: 0;
    display: flex;
    padding-top: 50px;
}
#footer{
  font-size: 25px;
  width: 100%;
  display: grid;
    grid-template-columns: 17% 20% 20% 6% 20% 17%;
    grid-area: "GAP_1 D_footer1D_footer2 D_footer3 D_footer4 GAP_2";
    height: 350px;
} 
#GAP_1{
   grid:GAP_1;
   height: 350px;
}
#D_footer1{
   display: flex;
   grid:D_footer1;
   height: 350px;
}
#D_footer1 img{
   height:100px;
   width:100px;
   margin:31% 7% 0% 24%;
}
#D_footer2{
  font-size: 15px;
   grid:D_footer2;
   margin: 3% 0% 0% 0%;
  height: 350px;
}
#ex_p ul{
   list-style: none;
   padding:0 0 0 2px;
   width: 90%;
   text-decoration:none;
    margin-top: -14px;
    margin-left:-158px;
}
#ex_p ul li a{
     text-decoration:none;
}
#ex_p ul li a :hover{
cursor: pointer;
}
#follow_us ul{
   margin-top: -17%;
  display:inline-flex;
   list-style: none;
   padding: 0;
   width: 90%;
   margin-left:-2px;
}
#follow_us ul li {
   display:inline;
}
 #D_footer2 ul li a{
  color: black;
}
#D_footer3{
   grid:D_footer3;
   margin: 3% 0% 0% 0%;
   height: 350px;
}
#D_footer4{
  height: 252px;
   grid:D_footer4;
   margin: 3% 0% 0% 0%;
   height: 280px;
   font-size: 28px;
  padding-bottom:32px;
}
#GAP_2{
   grid:GAP_1;
  height: 350px;
}
.footer h4{
  margin-top: 3px;
}

.i1{
    margin-left: 177px;
    margin-top: 33px;
}
.p1{
    margin-left: 181px;
    margin-right: 232px;
}
.pp1{
  margin-top: -13px;
}
.p2{
  margin-left: 152px
}
h1{
  font-size: 45px;
}
iframe{
  margin-left: 64px;
}
h2{
  font-size: 55px;
    margin-left: 77px;
}
.f1{
  margin-left: 257px;
}
.c1 img:hover{
  width:200px;
  height: 200px;

}
.c1 img{
  border-radius:50%;
}
.br1{
      margin-left: 121px;
      margin-right: 878px;
      margin-top: -71px;
      border:4px solid #4adede;
      border-radius: 20px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);


}


.br1 a{
  margin-left: 38px;

}

.c111{
  margin-left: 5px;
}
.br2{
  margin-left: 420px;
      margin-top: -394px;
      border:4px solid #4adede;
      border-radius: 20px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-right: 557px;

}
.br2 a{
margin-left:42px;
}
.c2{
  margin-left: 11px;
}
.c1{
  margin-top:45px;
}
.br3{
    margin-left: 736px;
    margin-top: -393px;
    border:4px solid #4adede;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-right: 256px;
}
.br3 a{
margin-left:42px;
}
.c3{margin-left: 5px;}
.br4{
      border:4px solid #4adede;
      border-radius: 20px;
      margin-left: 115px;
      margin-right: 883px;
      padding-left: 20px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-top: 8px;
      margin-bottom: 215px;

}
.br4 img:hover{
  width:200px;
  height:200px;
}
.c4{
  margin-left: -15px;
    margin-top: 0px;
    margin-bottom: 8px
}
.br4 a{
    margin-left:27px;
    margin-bottom: 16px;
    margin-top: 40px;
}
.br5{
    border:4px solid #4adede;
    border-radius: 20px;
    margin-left: 415px;
    margin-right: 555px;
    padding-left: 24px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -651px;
}
.br5 img:hover{
  width:200px;
  height:200px;
}
.br5 p{
  margin-left: -19px;
      margin-top: 1px;
}
.br5 a{
  margin-left:24px;
}
.br6{
      border:4px solid #4adede;
      border-radius: 20px;
      margin-left: 742px;
      margin-right: 255px;
      padding-left: 24px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-top: -433x;

}
.br6 img:hover{
  width:200px;
  height:200px;
}
.br6 a{
    margin-left:14px;
}
.br6 p{
      margin-left: -15px;
}
.br7{
      border:4px solid #4adede;
      border-radius: 20px;
      margin-left: 114px;
      margin-right: 876px;
      padding-left: 20px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-top: 22px;
      margin-bottom: 215px;
}
.br7 p{
  margin-left: -14px;
}
.br7 a{margin-left:43px;}
.br8{
    border:4px solid #4adede;
    border-radius: 20px;
    margin-left: 423px;
    margin-right: 548px;
    padding-left: 24px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -627px;}
.br8 p{
      margin-left: -15px;
}
.br8 a{
  margin-left:12px;
}
.br9{
    border:4px solid #4adede;
    border-radius: 20px;
    margin-left: 749px;
    margin-right: 250px;
    padding-left: 12px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -414px;

}
.br9 a{    margin-left: 33px;;}
.br9 p{margin-left: -4px;}
.br10{border:4px solid #4adede;
    border-radius: 20px;
    margin-left: 107px;
    margin-right: 879px;
    padding-left: 20px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: 10px;
    margin-bottom: 215px;}
   .br10 a{margin-left:10px;}
   .br10 p{margin-left: -12px;
    margin-top: 10px;}
    .br11{ border:4px solid #4adede;
    border-radius: 20px;
    margin-left: 420px;
    margin-right: 551px;
    padding-left: 28px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -601px;
}
.br11 p{margin-left: -17px;
    margin-top: 10px;
}
.br11 a{margin-left:25px;}
.br12{
      border:4px solid #4adede;
      border-radius: 20px;
      margin-left: 751px;
      margin-right: 242px;
      padding-left: 18px;
      box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
      margin-top: -386px;


}
.br12 p{
  margin-left: -10px;
    margin-top: 8px;
}
.br12 a{margin-left:44px;}
.br13{
    border:4px solid #4adede;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 882px;
    padding-left: 20px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: 13px;
    margin-bottom: 215px;
}
.br13 p{
      margin-left: -13px;
}
.br13 a{
    margin-left:23px;
}
.br14{
    border:4px solid #4adede;
    border-radius: 20px;
    margin-left: 413px;
    margin-right: 572px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
    margin-top: -605px;
    margin-bottom: 215px;}
.br14 p{
  margin-left: 8px;
}
.br14 a{
margin-left: 25px;
}
.l{
      margin-top: -193px;
      margin-right: 392px;
      margin-left: 103px;
      border-left: 6px solid #4adede;
      background-color: #e3ebf1;
      margin-bottom: 62px;
      padding-bottom: 10px;
}
.p11{
      margin-top: 212px;
      padding-top: 19px;
      padding-left: 0px;
      font-size: 25px;
      padding-bottom: 5px;
      color: #0e25c9;
      margin-bottom: -36px;
      margin-left: 24px;
  }
 a{
     font-size:25px;
     text-decoration: none;
    margin-left:158px;
    }

a:hover{
  text-decoration:underline;

}
.m{
  margin-left: 741px;
      margin-top: -580px;
      padding-bottom: 139px;

}
.m img{
  border-radius:50%;
}
.v{
    text-decoration: none;
    border-radius: 50px;
    margin-top: 53px;
    margin-left: 522px;
    margin-right: 656px;
    padding-left: 15px;
    padding-right: 39px;
    padding-top:4px;
    padding-bottom:px;
    color:black;
    display: block;
    background-color:#4adede;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
}
.v a{
   margin-left: 22px;
   margin-right: 20px;
   color:black;
   font-size: 20px;
  text-decoration:none;
}
.v:hover{
  text-decoration:underline;

}
.v a:hover{
  color:red;
}
.middle{
    margin-left:126px;
    margin-top: 36px;
    margin-bottom: 38px;
     font-size: 25px; 
}
.btn{
  display: inline-block;
    width: 46px;
    height: 48px;
    margin: 10px;
    border-radius: 30%;
    color: #3498db;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
  margin-left: 184px;
    padding-top: 24px;
    margin-top: -1px;
    margin-bottom: 28px;
    padding-left: 22px;
}
.btn i{
  transform:scale(1.3);
  color#4adede;
}
.btn i:hover{
  color:red;
  transform: scale(1.05);
}
  
.h{
    color:#4adede;
    font-size: 55px;
    margin-left: 132px;
}

.e1 iframe:Hover{
  transform: scale(1.1);

}
.l a:hover{
  color:red;
}
.p2 iframe:hover{
  transform:scale(1.1);
}
.js1{
  font-size: 55px;
    color: #4adede;
    margin-left: 481px
}
.js2{
  background-color: #69bfcd;
    width: 71px;
    border-radius: 44px;
    margin-left: 394px;
    height: 15px;
    padding: 22px;
    padding-left: 41px;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 1px;
    cursor:pointer;
}
.js3{
  background-color:#69bfcd;
   width: 71px;
   border-radius: 44px;
   margin-top: -52px;
   margin-left: 659px;
   height: 15px;
   padding: 22px;
   padding-left: 39px;
   font-size: 20px;
   padding-bottom: 29px;
   padding-top: 14px;
   padding-right: 4px;
   cursor:pointer;
}
.js4{
  margin-left: 331px;
 font-size: 55px;
 color:#69bfcd;
}
.js5{
  font-size: 55px;
   margin-left: 378px;
   color: #69bfcd;
}

